<h1>List of available tracks</h1>


<div class="row">
  <% @trainings.each do |training| %>
    <div class="col-sm-3 col-md-3">
      <div class="card h-100 border border-primary">
        <div class="card-body">
          <h3 class="card-title training-title"><%= training.name %></h3>
          <p class="card-text"><%= training.description %></p>
        </div>
        <% if @current_user.aristo_lms_subscriptions.exists?(training_id: training.id) %>
          <div class="card-body">
            <p class="card-text">Subscribed</p>
          </div>
        <% else %>
          <div class="card-body d-flex flex-column">
            <%= link_to 'Subscribe', subscriptions_path(training_id: training.id), method: :post, class: "btn btn-outline-primary mt-auto"%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
